aiohttp==3.12.15
apscheduler==3.11.0
azure-cognitiveservices-speech==1.45.0
colorlog==6.9.0
faker==37.5.3
fastapi==0.116.1
httpx==0.28.1
langchain_core==0.3.72
langchain-openai==0.3.28
langchain==0.3.27
langgraph==0.2.62
numpy==2.3.2
opencensus-ext-azure==1.1.13
passlib[bcrypt]==1.7.4
pydub==0.25.1
pydantic[email]==2.11.7
pydantic==2.11.7
pytest-asyncio==0.25.1
python-jose==3.5.0
python-multipart==0.0.12
sqlalchemy==2.0.42
uvicorn[standard]==0.35.0
audioop-lts; python_version>='3.13'